@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);

/* ====================================
Base 
==================================== */

body {
    background: #4f0000;
}

.hidden-content {
    display: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f0f0f0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #b8b8b8;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7f7f7f;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.fade-out-scale-down {
    -webkit-animation: fadeOutAndScaleDown 1s ease forwards;
    animation: fadeOutAndScaleDown 1s ease forwards;
}


/* Add the fade-out and scale-down class to the loader elements after 6 seconds */

#loader.fade-out-scale-down,
#loader:before.fade-out-scale-down,
#loader:after.fade-out-scale-down {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

@keyframes fadeOutAndScaleDown {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.outro {
    animation: exit 0.3s ease !important;
    animation-delay: 0.5s !important;
    animation-fill-mode: forwards !important;
}

@keyframes exit {
    from {
        margin-top: 0vh;
        display: block;
    }
    to {
        margin-top: 100vh;
        display: none;
    }
}

#loader.hidden {
    transition: all 1s ease-in-out;
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

html {
    cursor: none;
}

canvas {
    filter: blur(1px);
}

::-moz-selection {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}

::selection {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
}

a {
    cursor: none;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #1a0000;
    --gradient-color-2: #350000;
    --gradient-color-3: #4f0000;
    --gradient-color-4: #6a0000;
    z-index: -1;
    position: fixed;
    animation: 1s fadeIn;
}

.cursor-dot,
.cursor-dot-outline {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #dc5656;
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    background-color: rgba(229, 128, 128, 0.5);
}

@keyframes revealWithBlurTopToBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
        filter: blur(10px);
        /* Start with blur */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
        /* End with no blur */
    }
}

.page {
    opacity: 0;
    animation: revealWithBlurTopToBottom 1.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* ====================================
Navigation 
==================================== */

.overlay-navigation {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}

nav,
nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

nav ul li {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    display: none;
}

nav li a {
    position: relative;
    top: 46%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0;
}

nav li a:before {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

nav li a:after {
    content: attr(data-content);
    font-size: 0.7rem;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0;
    position: absolute;
    z-index: 100;
    color: #fff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: -50px;
    text-transform: none;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
}

nav li a:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav li a:hover {
    color: #95a5a6;
}

nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav li:nth-of-type(1) {
    background-color: #1a0000
}

nav li:nth-of-type(2) {
    background-color: #280000
}

nav li:nth-of-type(3) {
    background-color: #350000
}

nav li:nth-of-type(4) {
    background-color: #420000
}

nav li:nth-of-type(5) {
    background-color: #4f0000
}

@keyframes revealWithBlur {
    0% {
        opacity: 0;
        transform: translate(100%, 100%);
        filter: blur(10px);
        /* Start with blur */
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
        /* End with no blur */
    }
}

.open-overlay {
    opacity: 0;
    animation: revealWithBlur 2s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: fixed;
    right: 5rem;
    top: 3.2rem;
    width: 34px;
    display: block;
    z-index: 9998;
}

.open-overlay span {
    display: block;
    height: 1px;
    background-color: #fff;
    margin-top: 8px;
    z-index: 1000;
}

.animate-top-bar {
    -webkit-animation: animate-top-bar .6s linear 1 both;
    animation: animate-top-bar .6s linear 1 both;
    z-index: 1000;
}

.animate-bottom-bar {
    -webkit-animation: animate-bottom-bar .6s linear 1 both;
    animation: animate-bottom-bar .6s linear 1 both;
    z-index: 1000;
}

.animate-middle-bar {
    -webkit-animation: animate-middle-bar .6s linear 1 both;
    animation: animate-middle-bar .6s linear 1 both;
    z-index: 1000;
}

.animate-out-top-bar {
    -webkit-animation: animate-out-top-bar .6s linear 1 both;
    animation: animate-out-top-bar .6s linear 1 both;
    z-index: 1000;
}

.animate-out-bottom-bar {
    -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
    animation: animate-out-bottom-bar .6s linear 1 both;
    z-index: 1000;
}

.animate-out-middle-bar {
    -webkit-animation: animate-out-middle-bar .6s linear 1 both;
    animation: animate-out-middle-bar .6s linear 1 both;
    z-index: 1000;
}

@keyframes animate-top-bar {
    0% {
        background-color: #fff;
    }
    50% {
        -webkit-transform: translateY(9px);
        transform: translateY(9px)
    }
    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        background-color: #29363B
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: #fff;
    }
}

@keyframes animate-bottom-bar {
    0% {
        background-color: #fff;
    }
    50% {
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px)
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        background-color: #29363B;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: #fff;
    }
}

@keyframes animate-middle-bar {
    0% {
        background-color: #fff;
    }
    80% {
        background-color: #29363B;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes animate-out-top-bar {
    0% {
        background-color: #fff
    }
    50% {
        -webkit-transform: translateY(9px);
        transform: translateY(9px)
    }
    80% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        background-color: #29363B
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: #FFF;
    }
}

@keyframes animate-out-bottom-bar {
    0% {
        background-color: #fff
    }
    50% {
        -webkit-transform: translateY(-9px);
        transform: translateY(-9px)
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        background-color: #29363B;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background-color: #FFF;
    }
}

@keyframes animate-out-middle-bar {
    0% {
        background-color: #fff
    }
    80% {
        background-color: #29363B;
    }
    100% {
        background-color: #fff;
    }
}

.landing a {
    font-family: "Work Sans", sans-serif;
    color: #222;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50px;
    padding-bottom: 3px;
    border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
    nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    nav ul li {
        height: 20%;
    }
    nav ul li a {
        font-size: 11px;
    }
    nav li a:after {
        font-size: 0.6rem;
        bottom: -25px;
    }
    nav li a:hover:after {
        transform: translateY(0);
    }
    .open-overlay {
        right: 1rem;
    }
    nav li a:before {
        width: 25px;
    }
}


/* ====================================
Home 
==================================== */

.one {
    align-content: space-around;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.headingdiv {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 75%;
}

.one h1 {
    margin: 0;
    font-size: 50px;
    color: #fff;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
}

.one h2 {
    padding-top: 10vh;
    width: 70%;
    margin: 0;
    margin-left: 10%;
    font-size: 20px;
    color: #fff;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 4px;
}

h1.heading1 {
    font-size: 25px;
    text-transform: uppercase;
}

h1.heading2 {
    padding-top: 20px;
    padding-bottom: 20px
}

h1.heading4 {
    font-size: 25px;
    padding-top: 45px;
}

@media (max-width: 1300px) {}


/* ====================================
About Me
==================================== */

.image-card {
    top: 50%;
    left: 50%;
    width: max-content;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    transition: .5s ease;
}

.aboutme-outer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Work sans', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.aboutme-inner {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.inner1 {
    width: 60%;
}

.inner2 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner2 img {
    width: 10em;
    height: auto;
    border-radius: 20px;
    transition: all 0.2s ease;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.inner2 img:hover {
    width: 12em;
}


/* ====================================
Skills 
==================================== */

.three {
    display: flex;
}

.iconbox {
    height: 100%;
    width: fit-content;
    border-width: 0.1px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #4f0000;
    width: 120px;
    height: calc(100vh/9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.icon:hover:not(.activeicon) {
    filter: brightness(70%);
}

.icon img {
    padding-top: 14px;
    filter: invert(1);
    width: 35px;
}

.icon p {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.icon.activeicon {
    border-right: none;
    background: linear-gradient(to right, rgba(40, 0, 0, 1), rgba(40, 0, 0, 0));
}

.icon.activeicon img {
    filter: invert(0) brightness(120%) contrast(0%);
}

.icon.activeicon p {
    color: #CCCCCC;
    font-weight: 500;
}

.contentbox {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: none;
    display: flex;
    justify-content: center;
}

.content {
    padding: 30px;
    padding-top: 100px;
    display: none;
    width: 70%;
}

.content P {
    font-size: 25px;
    color: #fff;
    line-height: 32px;
    font-family: 'Work sans', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.content.activecontent {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Content One & Content Two */

ol.rounded {
    counter-reset: li;
    list-style: none;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    font-family: 'Work sans', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0;
    width: 60%;
    margin: 0 auto;
}

.rounded li {
    margin-top: 10px;
    position: relative;
    display: block;
    padding: .4em 4em .4em 4em;
    background: transparent;
    text-transform: uppercase;
    transition: all .5s ease-out;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.rounded li:hover {
    background: rgba(255, 255, 255, 0.3);
}

.rounded li:before {
    margin-left: -3.5em;
    margin-top: 0.1em;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    background: transparent;
    font-size: 15px;
    height: 40px;
    width: 40px;
    text-align: center;
    transition: all .3s ease-out;
}

.rounded-list2 li:before {
    margin-top: 1.5em;
}

.rounded-list2 li {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.listheader {
    display: flex;
    justify-content: space-between;
}

.listheader p:nth-child(2) {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listcontainer {
    display: flex;
    text-transform: none;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: fit-content;
    animation: fadeIn 0.7s;
}

.listcolumn {
    display: flex;
    flex-flow: column;
    padding-right: 60px;
    padding-left: 10px;
}

.listcolumn p {
    font-size: 20px;
}

.inactivelist {
    display: none !important;
}

@media (max-width: 1300px) {
    .content p {
        font-size: 14px;
    }
    ol.rounded {
        width: 100%;
    }
    ol.rounded-list1,
    ol.rounded-list2 p {
        font-size: 15px !important;
    }
    .rounded li {
        padding: 0 4em 0 4em;
    }
    .rounded li:before {
        margin-left: -5em;
        font-size: 10px;
    }
    .rounded-list2 li:before {
        margin-top: 1.2em;
    }
}


/* Education */

p.weighted {
    font-weight: 500;
}

p.lowercase {
    text-transform: none;
}

ol.rounded-list3 {
    width: 80%;
}

.rounded-list3 li:before {
    display: none;
}


/* ====================================
Projects 
==================================== */

.Uni-Blocks {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
    font-family: 'Neucha', cursive;
    font-size: 18px;
    height: max-content;
    margin-left: 50px;
    padding-top: 20px;
}

.Uni-block .uni-main {
    position: relative;
}

.Uni-block .uni-main .uni-card {
    transition: 0.5s;
    width: 300px;
    height: 200px;
}

.uni-main .uni-card.uni-card1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.uni-main:hover .uni-card.uni-card1 {
    transform: translateY(0px);
}

.uni-main .uni-card.uni-card2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.uni-main:hover .uni-card.uni-card2 {
    transform: translateY(0px);
}

.uni-main .uni-card.uni-card1 .uni-content p {
    margin: 0;
    padding: 0;
}

.uni-content img {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
}

.uni-card.uni-card1 .uni-content img {
    object-fit: cover;
    width: 300px;
    height: 205px;
    object-position: center center;
}

.uni-main .uni-card.uni-card2 .uni-content a {
    margin: 10px;
    border: 1px solid #222;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #333;
}

.uni-main .uni-card.uni-card2 .uni-content a:hover {
    background-color: #222;
    color: #fff;
}

@media (max-width: 1300px) {
    .Uni-Blocks {
        grid-template-columns: repeat(2, 350px);
        height: max-content;
        padding-top: 50px;
    }
    .Uni-block .uni-main .uni-card {
        width: 300px;
        height: 200px;
    }
    .uni-card.uni-card1 .uni-content img {
        width: 300px;
        height: 205px;
    }
    .Uni-Blocks {
        font-size: 1em;
    }
    .uni-main .uni-card.uni-card2 {
        transform: translateY(-100px);
    }
    .Uni-Blocks {
        grid-gap: 5px 40px;
    }
}

@media (max-width: 800px) {
    .Uni-Blocks {
        grid-template-columns: repeat(2, 300px);
        height: max-content;
        padding-top: 150px;
    }
    .Uni-block .uni-main .uni-card {
        width: 252px;
        height: 168px;
    }
    .uni-card.uni-card1 .uni-content img {
        width: 252px;
        height: 173px;
    }
    .Uni-Blocks {
        font-size: 0.8em;
    }
    .uni-main .uni-card.uni-card2 {
        transform: translateY(-70px);
    }
    .Uni-Blocks {
        grid-gap: 0px 40px;
    }
}

@media (max-width: 650px) {
    .Uni-Blocks {
        grid-template-columns: repeat(2, 200px);
        margin-left: 0;
        height: max-content;
        padding-top: 150px;
    }
    .Uni-block .uni-main .uni-card {
        width: 210px;
        height: 140px;
    }
    .uni-card.uni-card1 .uni-content img {
        width: 210px;
        height: 145px;
    }
    .Uni-Blocks {
        font-size: 0.7em;
    }
    .uni-main .uni-card.uni-card2 {
        transform: translateY(-40px);
    }
    .Uni-Blocks {
        grid-gap: 0 40px;
    }
}

@media (max-width: 480px) {
    .Uni-Blocks {
        grid-template-columns: repeat(2, 200px);
        margin-left: 0;
        height: max-content;
        padding-top: 150px;
    }
    .Uni-block .uni-main .uni-card {
        width: 180px;
        height: 120px;
    }
    .uni-card.uni-card1 .uni-content img {
        width: 180px;
        height: 125px;
    }
    .Uni-Blocks {
        font-size: 0.6em;
    }
    .uni-main .uni-card.uni-card2 {
        transform: translateY(-20px);
    }
    .Uni-Blocks {
        grid-gap: 0 40px;
    }
}